.App {
  height: 100%;
}

.nav_bar {
  height: 80px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 50;
}

.side_bar {
  display: none;
  height: 100%;
  width: 14rem;
  flex-direction: column;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 50;
}

.main {
  padding-top: 80px;
  height: 100%;
}

@media (min-width: 768px) {
  .nav_bar {
    padding-left: 14rem/* 224px */;
  }

  .side_bar {
    display: flex;
  }

  .main {
    padding-left: 14rem
  }
}
